@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans&family=Source+Code+Pro:wght@300&family=The+Nautigal&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

.completeContainer {
  /* width: 80vw; */
  /* padding: 500px; */
  /* background-color: black; */
}



/* Navbar */
.sidebar {
  /* background-color: blue; */
  background-color: #060930;
  width: 20vw;
  font-family: "Fira Sans", sans-serif;
  height: 100%;
  color: #fff;
  position: fixed;
  top: 0;
}
.sidebar nav {
  /* padding: 0; */
  padding: 40px 80px;
  font-size: 30px;
}
.sidebar nav li {
  list-style: none;
  padding: 40px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: #fff;
}

/* Home */

#home {
  /* background-color: yellow; */
  /* width: 80vw; */
  background-color: #FEECE9;
  padding-left: 256px;
  /* height: 15%; */
  /* height: 100vh; */
}

.container {
  display: flex;
}

.infoContainer {
  /* background-color: red; */
  height: 17%;
  width: 80vw;
  margin: auto;
  padding-top: 50px ;
  display: flex;
  justify-content: space-around;
}
.devInfo {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* font-family: 'Fira Sans', sans-serif; */
  margin: 120px 100px;
}
.hello {
  font-size: 40px;
  font-weight: 400px;
  font-family: "Source Code Pro", monospace;
}
.name {
  font-size: 80px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  padding: 10px 0;
}
.about {
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 50px;
}
.about {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 10px;
}
.buttons button {
  padding: 10px 32px;
  background-color: #FEECE9;
  font-size: 25px;
  transition-duration: 0.4s;
  border: 3px solid #0a043c;
  margin-right: 25px;
  /* margin-left: 35px; */
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
}
.buttons {
  margin-top: 30px;
}

button:hover {
  background-color: #0a043c;
  color: white;
}
.devPic img {
  border: #fff;
  border-radius: 100%;
  height: 55vh;
  align-items: center;
  margin-top: 100px;
  margin-right: 70px;
}

/* footer */
footer {
  /* background-color: yellow; */
  /* width: 80vw; */
  background-color: #bbbbbb;
  /* padding-left: 300px; */
  text-align: center;
  /* font-size: 20px; */
  padding: 50px 0 50px 220px;
}
#footer {
  text-align: center;
  /* padding-bottom: 100px; */
  background-color: #fff;
}

.soc {
  padding: 40px 25px;
  color: rgb(93, 90, 90);
  position: inherit;
}

.soc:hover {
  color: black;
}
/* 
@media only screen and (max-width: 1650px) {
  .sidebar {
    transform: translate(-270px, 0);
  }
  .infoContainer{
    display: flex;
    flex-direction: column;
  }
  .devPic img{
    transform: translate(130px, -100px);
  }
  #about{
    align-items: center;
    padding-left: 0;
  }
  
} */
