@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;  
}

/* Navbar */
.sidebar{  
    /* background-color: blue; */
    background-color: #813030;
    width: 20vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    color: #fff;
    position: fixed;
    top: 0;
    
    
}
.sidebar nav{
    padding: 90px;
    font-size: 30px;
}
.sidebar nav li{
    list-style: none;
    padding: 40px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: #fff;
}


/* Home */

.main{
    /* background-color: yellow; */
    width: 80vw;
    background-color: #dbc7c7;
    padding-left: 330px;
    height: 100%;
    height: 100vh;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: red; */
    height: 68vh;
    /* width: 80vw; */
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* font-family: 'Fira Sans', sans-serif; */
    margin: 100px;
}
.hello{
    font-size: 80px;
    font-weight: 400px;
    font-family: 'Source Code Pro', monospace;
}
.name{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
}
.moreabout{
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
}
.buttons button{
    padding: 15px 45px;
    background-color:#dbc7c7;
    font-size: 25px;
    transition-duration: 0.4s;
    border: 3px solid #813030;
    margin-right: 25px;
    /* margin-left: 35px; */
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
}
.buttons{
    margin-top: 30px;
}

button:hover {
    background-color: #813030; 
    color: white;
}
.devPic img{
    border: #fff;
    border-radius: 100%;
    height: 55vh;
    align-items: center;
    margin-top: 100px;
    margin-right: 70px;
}

/* Contact */
#contact{
    /* width: 80vw; */
    /* background-color: #dbc7c7; */
    /* padding-left: 330px; */
    height: 100%;
    height: 100vh;
   
}

.contactform{
    padding: 40px 120px;
    /* padding-top: 40px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    background-color: #dbc7c7;  
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 40px;
    padding: 50px;
}

.contactform form div{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    
}
.contactform form div input{
    width: 26vw;
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 5px;
    border: solid 2px;
    color: black;
}
.form-control{
    font-size: 19px;
}

#emailHelp{
    font-size: 15px;
    /* color: midnightblue; */
    padding: 4px;
}
#form-check{
    flex-direction: row;
    font-size: smaller;
}
#form-check .form-check-input{
    width: 20px;
    height: 20px;
    margin: 3px 10px 10px 0;
}
.btn {
    background-color: #813030; 
    border: 3px solid #813030 ;
    color: white;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
:hover.btn{
    background-color: #dbc7c7; 
    color: black;
}
  
/* About */
 #About{
    /* width: 80vw; */
    background-color: #fff;
    padding-left: 342px;
    height: 100%;
    height: 100vh;
  
} 
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 20px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    font-weight:800;
    margin: 30px;
}
.skillContainer{
    padding: 20px;
    font-size: 20px;
}

.skillContainer ul{
    padding: 0 50px;
}

.skillContainer li{
    padding: 7px;
    font-size: 23px;
}  



/* projects */
#project{
    background-color: antiquewhite;
}
#project h1{
    padding: 50px 80px;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
}
.projects{
    background-color: antiquewhite;
    padding: 10px;
}
.projects h1{
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    margin: 30px;
    
}
.projects h2{
    padding: 15px;
    font-size: 30px;
}
.card{
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    height: 450px;
    /* margin: 1rem; */
    position: relative;
    width: 52%;
    margin: 50px 50px;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* left: 200px; */
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

br{
    padding: 50%;
    color: black;
    line-height: 60%;
}
.work__text{
    margin: 100px;
}

.work__box {
    display: flex;
    align-items: center;
    
}


.work__image-box{
    width: 800px;
    position:absolute;
    left: 100px;
}


/* footer */
footer{
    text-align: center;
    /* font-size: 20px; */
    padding: 50px;
}
#footer{
    text-align: center;
    /* padding-bottom: 100px; */
    background-color: #fff;
}


.soc{
    padding:40px 25px;
   
    color: rgb(93, 90, 90);
    
}

.soc:hover{
    color:black;
}